# Importamos librerias

In [205]:
import pandas as pd #libreria para manejar dataframes

# ASIGNAR LA RUTA

In [206]:
df=pd.read_csv(r"C:\Users\Angel\Desktop\NotebookAvanzada2\ESTUDIANTES.csv")
df

   Estudiante Cuenta Cuatrimestre   Año  Mensualidades (L)
0         NaN  C0001          1er  2021             861.11
1        José  C0002          2do  2022            2349.86
2         NaN  C0003          2do  2020            2180.45
3       Carla  C0004          2do  2023            4391.16
4         NaN  C0005          2do  2020            3233.95
..        ...    ...          ...   ...                ...
95     Carlos  C0096          3er  2021                NaN
96      Lucía  C0097          2do  2024            1589.23
97     Carlos  C0098          3er  2021                NaN
98      Lucía  C0099          3er  2020                NaN
99        Ana  C0100          2do  2020            2307.06

[100 rows x 5 columns]

# Guardar la tabla con el nombre de df_ordenado y mostrar la tabla de cuatrimestre

In [207]:
# Ordenar el DataFrame por la columna "Cuatrimestre" y guardarlo como df_ordenado
df_ordenado = df.sort_values(by="Cuatrimestre")
df_ordenado

   Estudiante Cuenta Cuatrimestre   Año  Mensualidades (L)
0         NaN  C0001          1er  2021             861.11
31       Luis  C0032          1er  2020                NaN
32      Pedro  C0033          1er  2020                NaN
33        NaN  C0034          1er  2023            3123.56
36      Elena  C0037          1er  2022            2464.11
..        ...    ...          ...   ...                ...
51       José  C0052          3er  2020            2800.58
54      María  C0055          3er  2023             507.63
55      María  C0056          3er  2020            2983.99
81        NaN  C0082          3er  2023            3492.36
24        NaN  C0025          3er  2022            3438.80

[100 rows x 5 columns]

## mostrar las filas para verificar

In [208]:
# Mostramos las primeras 5 filas del DataFrame ordenado
df_ordenado.head()

   Estudiante Cuenta Cuatrimestre   Año  Mensualidades (L)
0         NaN  C0001          1er  2021             861.11
31       Luis  C0032          1er  2020                NaN
32      Pedro  C0033          1er  2020                NaN
33        NaN  C0034          1er  2023            3123.56
36      Elena  C0037          1er  2022            2464.11

# Agrupar el Dataframe por columna correspondiente "Estudiante"

In [209]:
# Agrupar el DataFrame por la columna "Estudiante" y calcular la media de las columnas numéricas
df_agrupado = df_ordenado.groupby("Estudiante").mean(numeric_only=True)
df_agrupado

                    Año  Mensualidades (L)
Estudiante
Ana         2021.500000        2205.902000
Carla       2021.800000        4253.097500
Carlos      2022.222222        2797.721429
Elena       2021.666667        2431.500000
José        2022.285714        3370.078333
Juan        2021.500000        3489.540000
Lucía       2021.200000        1499.086667
Luis        2021.833333        2615.536667
María       2020.888889        2587.983750
Pedro       2021.375000        1336.650000

# Mostramos el DataFrame agrupado

In [210]:
#Mostrar el DataFrame agrupado
df_agrupado.head()

                    Año  Mensualidades (L)
Estudiante
Ana         2021.500000        2205.902000
Carla       2021.800000        4253.097500
Carlos      2022.222222        2797.721429
Elena       2021.666667        2431.500000
José        2022.285714        3370.078333

# Sumamos los valores de la columna

In [211]:
#sumar valores de la columna numerica mensualidad
df.sum(numeric_only=True)

Año                  202187.00
Mensualidades (L)    206251.85
dtype: float64

# Mostramos las 3 categorias con mayor suma

In [212]:
# Mostramos las 3 categorias con mayor suma
top3 = df.sort_values(by="Mensualidad (L)", ascending=False).head(3)
top3

KeyError: 'Mensualidad (L)'

# Mostramos el registro con el valor maximo

In [ ]:
#mostrar el registro con el valor maximo utilizando .idxmax()
df_agrupado.loc[df_agrupado["Mensualidad"].idxmax()]

KeyError: 'Mensualidad'

guardamos la fila en una variable llamada registro_mayor

In [ ]:
#guardamos esta fila en una variable llamada registro_mayor y mostramos el resultado
registro_mayor = df_agrupado.loc[df_agrupado["Mensualidad"].idxmax()]

KeyError: 'Mensualidad'